* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


body {
    background-color: rgb(100, 226, 50);
    text-align: center;
}

p {
    margin: 20px;
}

h1 {
    color: rgb(185, 14, 14);
    margin: 50px;
}

h2 {
    color: blue;
    margin-bottom: 30px;
}

h3 {
    color: grey;
    margin: 20px;
}

ul {
    list-style-position: inside;
}

img {
    height: 90px;
    margin-top: 15px;

}

.container {
    margin: auto;
    width: 100%;
}

.urunlerClass {
    margin: 0%;
    margin-bottom: 20px;
    font-size: 12px;
}

a {
    padding: 20px;
    font-family:fantasy;
    border-radius: 80%;
    background-color: aqua;
    text-decoration: wavy;
}